<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau Dashboard</title>
    <!-- <script type="module" src="../static/script.js"></script> -->
    <!--- Load Tableau JavaScript API V3  --->
    <script type="module" src="https://embedding.tableauusercontent.com/tableau.embedding.3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        hr {
            height: 2px;
            border-width: 0;
            color: gray;
            background-color: gray;
            border-width: 0px;
        }
    </style>
</head>

<body>

    <!--- Viz Component - renders on page load --->
    <hr>
    <div id="loadingcheck">
        <div class="alert alert-info" role="alert">
            <h3 id="loadingMessage">Please wait...</h3>
        </div>
    </div>
    <hr>

    <div class="container" style="overflow: hidden;">
        <tableau-viz id="tableauViz" hide-tabs=true touch-optimize=false disable-url-actions=false debug=false
            src="https://tableau.pispl.in/#/views/SalesDashboardPOC/SalesSummary" toolbar="hidden" device="" token="">
            <viz-filter id="Current_SalesTeamID" field="Current_SalesTeam" value=""></viz-filter>
            <viz-filter id="Is_MIS_AdminID" field="Is_MIS_Admin" value=""></viz-filter>
        </tableau-viz>
    </div>

    <!-- <hr> -->

    <!--- Created via Connected Apps-Tableau Playground --->
    <!--- Andre de Vries - andredevries.dev --->

</body>
<script>
    let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
    let newSettings = 'Desktop'

    if (isMobile) { //this returns true or false
        newSettings = 'Phone'
    }

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let Is_MIS_AdminValue = urlParams.get('Is_MIS_AdminValue')
    let Current_SalesTeamValue = urlParams.get('Current_SalesTeamValue')

    var Current_SalesTeamFilterTag = document.getElementById("Current_SalesTeamID");
    var Is_MIS_AdminIDFilterTag = document.getElementById("Is_MIS_AdminID");
    Current_SalesTeamFilterTag.setAttribute("value", Current_SalesTeamValue);
    Is_MIS_AdminIDFilterTag.setAttribute("value", Is_MIS_AdminValue);

    var url = 'https://vetinatableaupython.azurewebsites.net/GetJWT';
    // var url = 'http://127.0.0.1:5000/GetJWT';
    fetch(url, {
        method: 'GET',
    }).then(res => res.json())
        .then(response => {
            console.log(response);
            var elementVar = document.getElementById("tableauViz");
            elementVar.setAttribute("token", response['token']);
            elementVar.setAttribute("device", newSettings);
            document.getElementById("loadingcheck").innerHTML = "<div class='alert alert-success' role='alert'><h3 id='loadingMessage'>JWT Feteched successfully!</h3></div>";

        })
</script>

</html>